td {
  padding: 0 10px;
}

h4 {
  margin-bottom: 0;
}

.nav-button {
  width: 100%;
  text-align: left;
}

.form {
  width: auto;
  margin: 40px auto 15px auto;
}

.form-button {
  text-align: center;
}

.center-table {
  margin: 0 auto;
}

.required {
  color: #ff0000;
}

.required::before {
  content: "\00a0";
}

.login-error {
  color: #ff0000;
}

#everyday, #reset {
  margin-left: 10px;
}

.left-table th, .left-table td {
  text-align: left;
}

.mdl-textfield {
  width: auto;
}

/* ダイアログ */
.edit-dialog, .complete-dialog {
  position: fixed;
  display: none;
  width: 300px;
  margin: auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.edit-dialog h4, .complete-dialog h4 {
  margin-top: 0;
}

#overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* SPでスクロールして高さが変わっても
     全体にオーバーレイを適用させるため120%を指定 */
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}
/* ダイアログここまで */
