td {
  padding: 0 10px;
}

h4 {
  margin-bottom: 0;
}

.nav-button {
  width: 100%;
  text-align: left;
}

.form {
  width: auto;
  margin: 40px auto 15px auto;
}

.form-button {
  text-align: center;
}

.center-table {
  margin: 0 auto;
}

.input-table td:first-child {
  text-align: right;
}

.sub-title {
  font-size: 12px;
}

.sub-title::before {
  content: "\00a0\00a0";
}

.required::after {
  content: "\00a0*";
  color: #ff0000;
}

.error {
  color: #ff0000;
}

#everyday, #reset, #everyday_edit, #reset_edit {
  margin-left: 10px;
}

.left-table th, .left-table td {
  text-align: left;
}

.edit, .complete, .delete {
  padding: 0 10px;
}

.complete, .delete {
  margin-left: 10px;
}

#chart_area {
  width: 900px;
}

.mdl-textfield {
  width: auto;
}

.mdl-button {
  min-width: 0;
}

.mdl-data-table {
  width: 100%;
}

.mdl-data-table th:first-child,
.mdl-data-table td:first-child,
.mdl-data-table th:last-child,
.mdl-data-table td:last-child,
.mdl-data-table th,
.mdl-data-table td {
  padding: 0 10px;
}

.mdl-data-table th {
  vertical-align: middle;
}

.mdl-data-table .task_name {
  white-space: normal;
}

.mdl-data-table .deadline {
  width: 87px;
}

.mdl-data-table .option {
  width: 180px;
}

.mdl-data-table .option_everyday {
  width: 122px;
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }

  td {
    padding: 0 5px;
  }
}

@media (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media (min-width: 840px) {
  .mdl-data-table {
    width: 800px;
  }
}

@media (max-width: 940px) {
  #chart_area {
    width: 100%;
  }
}

/* ダイアログ */
.edit-dialog, .complete-dialog, .delete-dialog {
  position: fixed;
  display: none;
  width: 300px;
  margin: auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.edit-dialog h4, .complete-dialog h4 {
  margin-top: 0;
}

.delete-dialog p {
  padding: 10px 0;
}

#overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* SPでスクロールして高さが変わっても
     全体にオーバーレイを適用させるため120%を指定 */
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}
/* ダイアログここまで */
