{% extends "layout.html" %}

{% block content %}
<div style="margin: 0 20px 15px 20px;">
  {% for category in categories %}
    {% with messages = get_flashed_messages(category_filter=[category]) %}
      {% if messages %}
        {% for message in messages %}
          <p class="{{ category }} message">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% endfor %}
  <h4 style="margin-top: 10px;">登録</h4>
  <form action="register_blog" method="post" enctype="multipart/form-data">
    <table class="center-table">
      <tbody>
        <tr>
          <td>対象月</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input" name="month" id="month" readonly>
              <label class="mdl-textfield__label" for="month"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>ブログデータ</td>
          <td>
            <input type="file" name="blog_data" style="margin: 10px 0 20px;" required>
          </td>
        </tr>
        <tr>
          <td>除外対象ホスト</td>
          <td>
            <input type="file" name="host_data" style="margin: 10px 0 20px;" required>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">登録</button>
    </div>
  </form>

  <h4>閲覧</h4>
  <table class="center-table">
    <tbody>
      <tr>
        <td>
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" class="mdl-textfield__input flatpickr-input" name="blog_start_month" id="blog_start_month" readonly>
            <label class="mdl-textfield__label" for="blog_start_month"></label>
          </div>
        </td>
        <td>
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" class="mdl-textfield__input flatpickr-input" name="blog_end_month" id="blog_end_month" readonly>
            <label class="mdl-textfield__label" for="blog_end_month"></label>
          </div>
        </td>
        <td>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search">検索</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chart_area"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/js/blog.js"></script>
{% endblock %}
