{% extends "layout.html" %}

{% block content %}
<div style="margin: 0 20px 15px 20px;">
  {% include "message.html" %}
  <h4 style="margin-top: 10px;">登録</h4>
  <form action="register_figure" method="post">
    <table class="center-table">
      <tbody>
        <tr>
          <td>右太ももの太さ (cm)</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="number" step="0.1" class="mdl-textfield__input" name="thickness_r" id="thickness_r">
              <label class="mdl-textfield__label" for="thickness_r"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>左太ももの太さ (cm)</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="number" step="0.1" class="mdl-textfield__input" name="thickness_l" id="thickness_l">
              <label class="mdl-textfield__label" for="thickness_l"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>日付</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input" name="figure_date" id="figure_date">
              <label class="mdl-textfield__label" for="figure_date"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">登録</button>
    </div>
  </form>

  <h4>閲覧</h4>
  <table class="center-table">
    <tbody>
      <tr>
        <td>
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" class="mdl-textfield__input flatpickr-input" name="figure_start_date" id="figure_start_date" readonly>
            <label class="mdl-textfield__label" for="figure_start_date"></label>
          </div>
        </td>
        <td>
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" class="mdl-textfield__input flatpickr-input" name="figure_end_date" id="figure_end_date" readonly>
            <label class="mdl-textfield__label" for="figure_end_date"></label>
          </div>
        </td>
        <td>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search">検索</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chart_area"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/js/figure.js"></script>
{% endblock %}