<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>{{ title }} | 管理ツール</title>
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <link rel="stylesheet" href="/static/css/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/static/css/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">管理ツール</span>
        </div>
      </header>
      {% if not login %}
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
          <a href="/schedule" class="mdl-button nav-button">タスク管理</a>
          <a href="/treated" class="mdl-button nav-button">実績</a>
          <a href="/training" class="mdl-button nav-button">トレーニング</a>
          <a href="/logout" class="mdl-button nav-button">ログアウト</a>
        </nav>
      </div>
      {% endif %}
      <main class="mdl-layout__content">
        <div class="page-content">
          {% block content %}
          {% endblock %}
        </div>
      </main>
    </div>
    {% block dialog %}
    {% endblock %}
    <script src="/static/js/material.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/flatpickr.js"></script>
    <script src="/static/js/common.js"></script>
  </body>
</html>