{% extends "layout.html" %}

{% block content %}
<div style="margin: 0 20px 15px 20px;">
  {% include "message.html" %}
  <h4 style="margin-top: 10px;"><i class="material-icons expand-icon open">expand_more</i>登録</h4>
  <form action="register_task" method="post">
    <table class="center-table input-table">
      <tbody>
        <tr>
          <td class="required">タスク名</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input" name="task_name_input" id="task_name_input" required>
              <label class="mdl-textfield__label" for="task_name_input"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="required">期日</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="deadline_input" id="deadline_input" readonly>
              <label class="mdl-textfield__label" for="deadline_input"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-button" style="margin-bottom: 10px;">
              <button type="button" id="everyday" class="mdl-button mdl-js-button mdl-button--raised">毎日</button>
              <button type="button" id="reset" class="mdl-button mdl-js-button mdl-button--raised">リセット</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">登録</button>
    </div>
  </form>

  <h4><i class="material-icons expand-icon reading open">expand_more</i>閲覧 <span class="sub-title">全タスク数：{{ total_task_count }}</span></h4>
  <div>
    <h6><i class="material-icons expand-icon open">expand_more</i>毎日のタスク<span class="sub-title">タスク数：{{ everyday_tasks|length }}</span></h6>
    {% if everyday_tasks|length != 0 %}
    <table class="mdl-data-table mdl-js-data-table center-table left-table">
      <thead>
        <tr>
          <th>タスク名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in everyday_tasks %}
        <tr class="edit" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
          <td class="task_name">{{ task.task_name }}</td>
          <td class="option_everyday">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised delete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <span>なし</span>
    {% endif %}

    <h6><i class="material-icons expand-icon open">expand_more</i>期限切れタスク<span class="sub-title">タスク数：{{ expired_tasks|length }}</span></h6>
    {% if expired_tasks|length != 0 %}
    <table class="mdl-data-table mdl-js-data-table center-table left-table">
      <thead>
        <tr>
          <th>タスク名</th>
          <th>期日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in expired_tasks %}
        <tr class="edit" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
          <td class="task_name">
            <i class="material-icons expired-icon">error</i>
            <span>{{ task.task_name }}</span>
          </td>
          <td class="deadline">{{ task.deadline }}</td>
          <td class="option">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised complete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">done</i>
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised delete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <span>なし</span>
    {% endif %}

    <h6><i class="material-icons expand-icon open">expand_more</i>今日までのタスク<span class="sub-title">タスク数：{{ danger_tasks|length }}</span></h6>
    {% if danger_tasks|length != 0 %}
    <table class="mdl-data-table mdl-js-data-table center-table left-table">
      <thead>
        <tr>
          <th>タスク名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in danger_tasks %}
        <tr class="edit" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
          <td class="task_name">
            <i class="material-icons danger-icon">warning</i>
            <span>{{ task.task_name }}</span>
          </td>
          <td class="option">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised complete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">done</i>
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised delete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <span>なし</span>
    {% endif %}

    <h6><i class="material-icons expand-icon open">expand_more</i>全タスク<span class="sub-title">タスク数：{{ other_tasks|length }}</span></h6>
    {% if other_tasks|length != 0 %}
    <table class="mdl-data-table mdl-js-data-table center-table left-table">
      <thead>
        <tr>
          <th>タスク名</th>
          <th>期日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in other_tasks %}
        <tr class="edit" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
          <td class="task_name">{{ task.task_name }}</td>
          <td class="deadline">{{ task.deadline }}</td>
          <td class="option">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised complete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">done</i>
            </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised delete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <span>なし</span>
    {% endif %}
  </div>

  <h4><i class="material-icons expand-icon open">expand_more</i>検索</h4>
  <form action="task" method="get">
    <table class="center-table">
      <tbody>
        <tr>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="start_date_input" id="start_date_input" readonly>
              <label class="mdl-textfield__label" for="start_date_input"></label>
            </div>
          </td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="end_date_input" id="end_date_input" readonly>
              <label class="mdl-textfield__label" for="end_date_input"></label>
            </div>
          </td>
          <td>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">検索</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  {% if search_tasks|length != 0 %}
  <table class="mdl-data-table mdl-js-data-table center-table left-table">
    <thead>
      <tr>
        <th>タスク名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in search_tasks %}
      <tr>
        <td class="task_name">{{ task.task_name }}</td>
        <td class="deadline">{{ task.deadline }}</td>
        <td class="option">
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised edit" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
            <i class="material-icons">mode_edit</i>
          </button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised complete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
            <i class="material-icons">done</i>
          </button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised delete" data-name="{{ task.task_name }}" data-deadline="{{ task.deadline }}">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}

{% block dialog %}
<!-- タスク編集ダイアログ -->
<div class="edit-dialog">
  <h4>タスク編集</h4>
  <form action="edit_task" method="post">
    <table class="center-table input-table">
      <tbody>
        <tr>
          <td class="required">タスク名</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="new_task_name" id="new_task_name" required>
              <label class="mdl-textfield__label" for="new_task_name"></label>
              <input type="hidden" name="old_task_name" id="old_task_name">
            </div>
          </td>
        </tr>
        <tr>
          <td class="required">期日</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="new_deadline" id="new_deadline" readonly>
              <label class="mdl-textfield__label" for="new_deadline"></label>
              <input type="hidden" name="old_deadline" id="old_deadline">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-button" style="margin-bottom: 10px;">
              <button type="button" id="everyday_edit" class="mdl-button mdl-js-button mdl-button--raised">毎日</button>
              <button type="button" id="reset_edit" class="mdl-button mdl-js-button mdl-button--raised">リセット</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">編集</button>
    </div>
  </form>
</div>

<!-- タスク完了ダイアログ -->
<div class="complete-dialog">
  <h4>タスク完了</h4>
  <form action="complete_task" method="post">
    <table class="center-table input-table">
      <tbody>
        <tr>
          <td class="required">完了日</td>
          <td>
            <div class="mdl-textfield mdl-js-textfield">
              <input type="text" class="mdl-textfield__input flatpickr-input" name="complete_date" id="complete_date" readonly>
              <label class="mdl-textfield__label" for="complete_date"></label>
              <input type="hidden" name="task_name" id="task_name">
              <input type="hidden" name="deadline" id="deadline">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">完了</button>
    </div>
  </form>
</div>

<!-- タスク削除確認ダイアログ -->
<div class="delete-dialog">
  <p>タスクを削除します。よろしいですか？</p>
  <form action="delete_task" method="post">
    <input type="hidden" name="task_name" id="task_name">
    <input type="hidden" name="deadline" id="deadline">
    <table class="center-table">
      <tbody>
        <tr>
          <td>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">はい</button>
          </td>
          <td>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored dialog-close">いいえ</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/task.js"></script>
{% endblock %}
